
* {
  margin: 0;
  padding: 0;
}

.main_box{
  background-image: url("Camera.jpg");
  height: 100vh;
  position: relative;
}

#check {
  display: none;
}

.btn_one{
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
}

.sidebar_menu{
  position: relative;
  width: 300px;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
  left: -300px;
  transition: all 0.2s linear;
}

.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  box-shadow: 0 0 8px rgb(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding-left: 46px;
  line-height: 60px;

}

.btn_two{
  color: grey;
  font-size: 30px;
  position: absolute;
  left: 270px;
  line-height: 60px;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 80px;
}

.sidebar_menu .menu li {
  color: white;
  top : 70px;
  padding: 10px 25px;
  font-size: 20px
}

.sidebar_menu .menu a {
  text-decoration: none;
  padding-left: 8px;
  color: white;
}

.sidebar_menu .social_media {
  position: absolute;
  bottom: 50px;
  left: 60px;
}

.sidebar_menu .social_media i{
  color: grey;
  padding: 10px;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 8px rgb(255, 255, 255, 0.5);
}

.sidebar_menu .social_media i:hover{
  color: white;
  transform: scale(1.4);
}

#check:checked ~ .sidebar_menu{
  left:0;
}

#check:checked ~ .btn_one{
  display: none;
}
